<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Produtos</title>
</head>
<body>
    <%- include('app') %>
    <section class="m-4 d-grid ">
        <form class="col-8" action="/mensagem" method="post" >
            
                <p><%=  msg %></p>
                
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="name">Nome: </label>
                    <input class="form-control" type="text" name="name" id="name" >
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="email">Email: </label>
                    <input class="form-control" type="text" name="email" id="email">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="telefone">Telefone: </label>
                    <input class="form-control" type="text" name="telefone" id="telefone" >
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="mensagem">Mensagem: </label>
                    <textarea class="form-control" name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Enviar</button>
            
        </form>
    </section>
</body>
</html>