<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Loja Suspiros</title>
</head>
<body>
    <div>
        <% produtos.forEach((produto) => {%>
        <div class="card" style="width: 18rem;">
            <img src=<%= produto.img %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= produto.name %></h5>
              <p class="card-text"><%= produto.descricao %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <%})%>
    </div>    
</body>
</html>