<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Loja Suspiros</title>
</head>
<body>
  <header>
    <div class="navbar navbar-light bg-light navbar-expand-lg">
      <div class="container-fluid">
        <a href="/login" class="navbar-brand">Atelier</a>
      </div>
    </div>
  </header>
  <div class="container d-flex  flex-column">
    <div class="align-self-center " >
      <h1>Atelier do Suspiro</h1>
      <p>Fabrica de Delicias</p>
    </div>
    <div class="container d-flex">
      <% produtos.forEach((produto) => {%>
        <div class="card m-4" style="width: 18rem;">
          <img src=<%= produto.img %> class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= produto.name %></h5>
            <p class="card-text"><%= produto.descricao %></p>
            <p class="card-text">R$ <%= produto.preco %></p>
          </div>
        </div>
      <%})%>
    </div> 
  </div>
       
</body>
</html>