<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Usuarios</title>
</head>
<body>
    <%- include('app') %>
    <section class="m-4 d-grid ">
        <form class="col-8" action="/usuario" method="post">
            <div>
                <input type="hidden" name="id" value="<%= usuario.id %>">
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="name">Nome: </label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= usuario.name %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="email">Email: </label>
                    <input class="form-control" type="email" name="email" id="email" value="<%= usuario.email %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="password">Senha: </label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <% if(usuario.id){ %>
                    <div class="mb-3 input-group">
                        <label class="input-group-text" for="newPassword">Nova Senha: </label>
                        <input class="form-control" type="password" name="newPassword" id="newpassword">
                    </div>
                <% } %>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
        </form>
    </section>
    
</body>
</html>