<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Usuarios</title>
</head>
<body>
    <%- include('app') %>
    <section>
        <form action="/usuario" method="post">
            <div>
                <input type="hidden" name="id" value="<%= usuario.id %>">
                <div>
                    <label for="name">Nome: </label>
                    <input type="text" name="name" id="name" value="<%= usuario.name %>">
                </div>
                <div>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" value="<%= usuario.email %>">
                </div>
                <div>
                    <label for="password">Senha: </label>
                    <input type="password" name="password" id="password">
                </div>
                <% if(usuario.id){ %>
                    <div>
                        <label for="newPassword">Nova Senha: </label>
                        <input type="password" name="newPassword" id="newpassword">
                    </div>
                <% } %>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </section>
    
</body>
</html>