<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Usuarios</title>
</head>
<body>
    <header>
        <div class="navbar navbar-light bg-light navbar-expand-lg">
          <div class="container-fluid">
            <a href="/" class="navbar-brand">Atelier</a>
          </div>
        </div>
    </header>
    <div>
        <h1>Area privativa</h1>
        <p>Favor informar usuario e senha</p>
    </div>
    <section class="m-4 d-grid ">
        <form class="col-8" action="/login" method="post">
            <div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="name">Nome: </label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="password">Senha: </label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </section>
    
</body>
</html>